/*base weather css*/

/* 
color1: #50514f; //rgba(80, 81, 79, 100)
color2: #f25f5c; //rgba(242, 95, 92, 100)
color3: #ffe066; //rgba(255, 224, 102, 100)
color4: #247ba0; //rgba(36, 123, 160, 100)
color5: #70c1b3; //rgba(112, 193, 179, 100)
*/
* {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 200;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
}
#content{
    overflow-y: auto;
    background: rgba(80,81,79,1);
    background: -moz-linear-gradient(left, rgba(80,81,79,1) 0%, rgba(0,33,34,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(80,81,79,1)), color-stop(100%, rgba(0,33,34,1)));
    background: -webkit-linear-gradient(left, rgba(80,81,79,1) 0%, rgba(0,33,34,1) 100%);
    background: -o-linear-gradient(left, rgba(80,81,79,1) 0%, rgba(0,33,34,1) 100%);
    background: -ms-linear-gradient(left, rgba(80,81,79,1) 0%, rgba(0,33,34,1) 100%);
    background: linear-gradient(to right, rgba(80,81,79,1) 0%, rgba(0,33,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50514f', endColorstr='#002122', GradientType=1 );
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
}
.weather-list{
    position: relative;
    display: block;
    width: 440px;
    margin: 0 auto;
    text-align: center

}
.weather-list:after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
}
.weather-container{
    opacity: 0;
    text-align: center;
    padding: 20px;
    background: #f25f5c;
    color: #333;
    margin: 0 10px 20px;
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
}
.weather-container:nth-child(2n){
    background: #ffe066;
}
.weather-container:nth-child(3n){
    background: #70c1b3;
}
.weather-container:nth-child(4n){
    background: #247ba0;
}
.weather-container.active{
    background: #247ba0;   
}
.weather-container > div{
    transform: translateY(25%);
        -webkit-transform: translateY(25%);
        -moz-transform: translateY(25%);
        -ms-transform: translateY(25%);
        -o-transform: translateY(25%);
}
.temp{
    font-size: 2em;
    font-weight:500;
    margin-top:0;
    letter-spacing: 1px;
}
.visible{
    opacity: 1;

}
.invisible{
    opacity: 0;

}