<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{%block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon" />
        <link href='https://fonts.googleapis.com/css?family=Advent+Pro:400,500,600,200' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css')}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontello-embedded.css')}}" />
        {% endblock %}
    </head>
    <body>
        <div id = "content">
            {% block content %}{% endblock %}
        </div>
        <div id = "footer">
            {% block footer %}{% endblock %}
        </div>
        {% block footerscripts %}
            <script src="{{ url_for('static', filename='vendor/jquery-2.2.3.min.js')}}"></script>
        {% endblock %}
    </body>
</html>